.rankings-page {
    .rankings-page-heading {
        margin: 0;
        @media (max-width: 991px) {
            display: inline-block;
            width: fit-content;
        }

        &:not(:last-of-type) {
            @media (max-width: 991px) {
                white-space: pre-wrap;
                &::after {
                    content: "\0020";
                }
            }
        }
    }
}