.youtube-embed {

    iframe {
        width: fit-content;
    }

    @media (max-width: 510px) {
        iframe {
            height: 228px;
        }
    }

    @media (max-width: 296px) {
        iframe {
            height: 140px;
        }
    }
}