.partners {
    .jsx-slider {
        align-items: center;
    }
    .partner {
        .card-panel {
            width: 95%;
        }
        .img-div {
            img {
                display: block;
                margin: 0 auto;
                width: 163px;
                height: auto;
            }
        }
    }
}